################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Builds/VisualStudio2017/x64/Debug/ConsoleApp
